# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual Environment
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# Local storage
storage/

# Notebook
.ipynb_checkpoints/